<nav class="navbar navbar-default" role="navigation">
    <ul class="nav navbar-nav">
        <li><a href="/">General</a></li>
        <% if (user) { %>
        <li><a href="/chat">Chat</a></li>
        <% } %>
    </ul>
    <ul class="nav navbar-nav navbar-right">
        <% if (user) { %>
        <li><a href="" onclick="$('<form method=POST action=/logout>').submit();return false">sign out</a></li>
        <% } else { %>
        <li><a href="/login">sign in</a></li>
        <% } %>
    </ul>
</nav>